@model IEnumerable<WebApplication1.Models.Students>

@{
    ViewData["Title"] = "StudentList";
}

<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
<style type="text/css">

    h1 {
        padding-top: 30px;
        font-family: 'Fredoka One', cursive;
        text-decoration: underline;
    }

    th{
        text-decoration: underline;
        padding:5px;
        text-align:center
    }

    .tbl {
        padding: 3%;
        margin-top: 35px;
    }



</style>
<h1 class="d-flex justify-content-center align-items-center" >StudentList</h1>

<p class="float-lg-right">
    <a asp-action="Create" class="btn btn-light btn-lg">Create New</a>
</p>
<table class="table tbl table-dark table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Semester)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.StudentID" class = "btn btn-outline-success">Edit</a>
                    
                    @Html.ActionLink("Delete", "DeleteStd", new { id = item.StudentID }, new { @class = "btn btn-outline-danger", onclick = "return confirm('Are You sure You want to delete this record?')" })
                </td>
            </tr>
        }
    </tbody>
</table>
